# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
build/
pip-wheel-metadata/
.cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.env.*
.venv/
venv/
env/


# Logs
bus_tracker.log
bus_tracker.log.*
